.contact-wapper{
  background: url('https://plus.unsplash.com/premium_photo-1661645672144-de1e08be7473?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 20px; 
}

.overlay{
  position: absolute;
   background: rgba(0,0,0,0.6);
   z-index: 2;
   inset: 0;
}

.logo{
  height: 40px;
  width: auto;
  border-radius: 80%;
}
